.container {
  border: 1px solid #ffffff;
  padding: 50px;
}
.main-image img {
  max-height: 400px;
  border-radius: 35px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.15);
  margin-right: 100px;
}
.pic-center {
  margin-right: 100px;
  text-align: center;
  margin-top: 30px;
}
.pic-center img {
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
}
.section-heading {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
.title {
  margin: 0 0 20px;
  z-index: 10;
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}
.menuh6 {
  font-size: 30px;
  color: #0060c7;
}
.section-body {
  margin: 20px 0;
  font-size: 16px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  font-size: 25px;
  color: #43484d;
  font-weight: 600;
  width: 60px;
  background: #fff;
}
.inp-pos {
  height: 60px;
}
.quantity input:nth-child(odd):hover {
  background-color: #a8cadd;
  color: #2e5e5e;
}
.quantity input:nth-child(odd) {
  border: 1px solid #eee;
}
.product-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-info ul {
  padding: 0;
  margin-left: 15px;
  list-style: none;
  margin-bottom: 0;
}
.product-info h4 {
  font-weight: 600;
}
.grey {
  color: #18243b;
  font-size: 16px;
  text-align: justify;
}
.grey:hover {
  text-decoration: none;
}

.com {
  color: #548b98;
  font-size: 20px;
  text-align: left;
}
.com:hover {
  text-decoration: none;
}

textarea#id_Comentario {
  font-size: 18px;
}

.fc {
  color: #314d81;
  font-size: 15px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.star-rating {
  color: #e6ae2c;
}

/* Estilos para las etiquetas de los campos */
label {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

/* Estilos para los campos de entrada */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

#cal {
  background: #0060c7;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#cal:hover {
  background-color: #14b155;
  color: #ffffff;
}

#cal1 {
  background: #0060c7;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding: 6px;
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
  border-radius: 15px;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#cal1:hover {
  background-color: #b12c14;
  color: #ffffff;
}

input[type="submit"] {
  width: 30%;
  background: #0060c7;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
input[type="submit"]:before {
  content: "";
  border: 1px solid #14b155;
  border-radius: 15px;
  width: calc(100% - 20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 20px);
  margin: 10px;
}
input[type="submit"]:hover {
  background-color: #14b155;
  color: rgb(176, 170, 170);
}

@media (max-width: 991px) {
  .main-image {
    text-align: center;
  }
  .main-image img {
  }
}
@media (max-width: 600px) {
  .main-image {
    text-align: center;
  }
  .main-image img {
  }
  .pic-center img {
    width: 50px;
  }
  .inp-pos {
    height: 40px;
  }
  .quantity input {
    width: 40px;
  }
  #add-to-cart {
    width: 50%;
  }
}

.fa-star {
  color: #e6ae2c;
}

.section-p1 {
  padding: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover {
  background-color: #088178;
  color: #fff;
}

.aw {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px; /* Establece el ancho máximo deseado */
  margin: 0 auto; /* Centra los elementos */
}

.f-box {
  width: calc(20% - 20px); /* Establece el ancho de cada elemento */
  margin-bottom: 20px; /* Añade un espacio entre los elementos */
}
/* feature section styles */

.content-area {
  width: 100%;
  position: relative;
  top: 450px;
  background: #ffffff;
  height: 100%;
}

form {
  margin-bottom: 50px;
}

.content-area h2 {
  font-family: poppins;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
  color: #fff;
}
.content-area p {
  padding: 2% 0px;
  font-family: poppins;
  line-height: 30px;
}

button {
  width: 100px;
  background: #0060c7;
  font-size: 15px;
  font-weight: 200;
  color: #ffffff;
  transition: all 0.3s;
  padding: 5px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-left: 10px;
  margin-bottom: 8px;
}
button:before {
  content: "";
  border-radius: 15px;
  width: calc(100% - 20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 20px);
  margin: 10px;
}
button:hover {
  background-color: #14b155;
  color: #ffffff;
}

.fa-solid:hover {
  color: #74c0fc;
}

.fa-solid {
  color: #497980;
}

.fa-star {
  color: #e6ae2c;
  font-size: 20px;
}
