{% if instrumento.Puntuacion >= 1 %}
<i
  class="fa-solid fa-star fa-spin"
  style="--fa-animation-duration: 3s; --fa-animation-timing: ease-in-out"
></i>
{% else %}
<i class="fa-regular fa-star"></i>
{% endif %} {% if instrumento.Puntuacion >= 2 %}
<i
  class="fa-solid fa-star fa-spin"
  style="--fa-animation-duration: 3s; --fa-animation-timing: ease-in-out"
></i>
{% else %}
<i class="fa-regular fa-star"></i>
{% endif %} {% if instrumento.Puntuacion >= 3 %}
<i
  class="fa-solid fa-star fa-spin"
  style="--fa-animation-duration: 3s; --fa-animation-timing: ease-in-out"
></i>
{% else %}
<i class="fa-regular fa-star"></i>
{% endif %} {% if instrumento.Puntuacion >= 4 %}
<i
  class="fa-solid fa-star fa-spin"
  style="--fa-animation-duration: 3s; --fa-animation-timing: ease-in-out"
></i>
{% else %}
<i class="fa-regular fa-star"></i>
{% endif %} {% if instrumento.Puntuacion >= 5 %}
<i
  class="fa-solid fa-star fa-spin"
  style="--fa-animation-duration: 3s; --fa-animation-timing: ease-in-out"
></i>
{% else %}
<i class="fa-regular fa-star"></i>
{% endif %}
